.content {
  margin-left: 70px;
  margin-top: 140px;
}

.content h1 {
  color: white;
  font-family: "Times New Roman";
  font-size: 50px;
  letter-spacing: 2px;
}

.par {
  color: white;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  line-height: 30px;
}

.content .cn {
  width: 170px;
  height: 45px;
  background-color: #ff7200;
  border-radius: 10px;
  border: 1px;
  transition: 0.4s ease;
  cursor: pointer;
}

.content .cn a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.3s ease;
}

.cn:hover {
  background-color: white;
}
