.app {
  width: 100%;
  height: 100vh;
  background-image: url("./background.jpg");
  background-position: center;
  background-size: cover;
}

.icon {
  margin: 0px 70px;
}

.logo {
  color: #ff7200;
  float: left;
  font-size: 30px;
}

.nav-bar {
  margin-top: 5px;
  display: flex;
  align-items: center;
}

.nav-menu {
  width: 450px;
}

.menu-items {
  display: flex;
  justify-content: space-between;
}

li {
  list-style: none;
}
