.app {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.5) 50%,
      rgba(0, 0, 0, 0.5) 50%
    ),
    url(./background.jpg);
  background-position: center;
  background-size: cover;
}

.icon {
  margin: 0px 70px;
}

.logo {
  color: #ff7200;
  float: left;
  font-size: 30px;
}

.nav-bar {
  display: flex;
  width: 1200px;
  align-items: center;
  padding-top: 10px;
}

.nav-menu {
  width: 450px;
}

.menu-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li {
  list-style: none;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0.5px;
  padding-left: 50px;
}

.menu-items li a {
  text-decoration: none;
  color: white;
  transition: 0.4s ease-in-out;
}

.menu-items li a:hover {
  color: #ff7200;
}

.search {
  display: flex;
  margin-left: 250px;
  border-radius: 5px;
  border: 1px solid #ff7200;
  color: white;
}

.search-field {
  padding: 10px;
  background-color: transparent;
  border: none;
  color: white;
}

.ctn {
  width: 100px;
  padding: 10px;
  background-color: #ff7200;
  border: 1px solid #ff7200;
  color: white;
}

.search-field:focus {
  outline: none;
}
